.profile-title{
    color: white;
    text-align: center;
    margin-top:1em;
}

.logout-btn, .back-to-translations{
    padding: 0.5em 1em;
    margin-bottom: 2em;
    font-size:1.5em;
    background-color: rgb(98, 98, 98);
    border-radius: 0;
    border: none;
}

.translationContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cardTextContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sign-text{
    font-size: 1.5em;
    padding-left:0.8em;
}
.sign-images{
    width: 5%;
}
.profile-button-section{
    margin-top:1em;
}
.profile-card{
    border-radius: 0;
}