/*Styles for the header/nav */
.App-Header{
    background-color: black;
    border-bottom: 0.2em solid rgb(77, 76, 76);
    margin-top:0;
}
.Header-title-text{
    font-family: 'Iceland', cursive;
    font-size:2.4em;
    font-weight: normal;
}
.Header-title-text p{
    color: red;
    padding-top: 0.4em;
    padding-left: 10%;
}
.Header-title-text a{
    text-decoration:none;
    color: white;
}
.profile-section{
    font-size: 1.1em;
    padding: 0.5em 1em;
    margin-right: 1em;
}
.nav{
    padding: 0;
    margin: 0
}