.input-user-name{
    padding: 1em 1em;
    font-size: 1.5em;
    background-color: #EFEFEF;
    font-family: 'Sanchez', serif;
}

Form{
    margin-top:2em;
}

.App-LoginInput{
    width:100%;
    
}
.button-inside{
    position:relative;
    margin-bottom:10px;
  }
.btn-translate{
    background-color: #5e5e5e;
    position:absolute;
    right: 0%;
    top: 0%;
    height: 100%;
    border-radius:0;
    border:none;
    outline:none;
    text-align:center;
    padding:0em 1em;
  }
  .translated-container{
      height: 300px;
      width:100%;
      margin-top:2em;
      border: 2px solid black;
      margin-bottom: 4em;
      border-radius: 8px 8px;
  }
  .Card{
      border-radius: 0;
      margin-top:1em;
      min-height:15em;
      box-shadow: 5px 10px 7px #111111;
  }
  .Card-Text{
      padding-left:1em;
  }
  .Card-footer{
    background-color: rgb(77, 76, 76);
    border-radius: 5px 5px;
    margin: 0;
    padding:0.6em;
  }
  .translation-badge, .add-favorites-badge{
      padding: 0.8em 1.1em;
      font-family: 'Sanchez', serif;
  }

  .add-favorites-badge{
    position: absolute;
    right: 0.5em;
  }

  .sign-image{
      width:6%;
  }

  .translate-page-title{
      color: white;
      padding-top: 1em;
  }