/*Styles for the login-input */
.input-user-name{
  font-size: 3.7em;
  border-radius: 0;
  border:0;
}
.App-LoginInput{
  margin-top:2%;
  width:100%;
}
.button-inside{
    position:relative;
    margin-bottom:10px;
  }
.btn-login-input{
    background-color:#333333;
    position:absolute;
    right: 0%;
    top: 0%;
    border:none;
    border-radius: 0;
    height:100%;
    outline:none;
    text-align:center;
    padding:0em 1.2em;
  }
  .login-input-container{
    background-color: rgb(77, 76, 76);
    padding: 2.5em 2.5em;
  }