.App-Welcome-container{
    background-color: black;
    margin-top:0 auto;
    font-family: 'Ubuntu', sans-serif;
}
h1, h3{
    color: red;
}
h1{
    font-size:3em;
}
h3{
    font-size:2em;
}
.Welcome-container-content{
    width:80%;
    margin-left: 10%;
}
.Welcome-container{
    padding-top: 2em;
    padding-bottom:4em;
}
.Welcome-text{
    padding-top:4em;
    padding-left: 0;
}
.welcome-title-text{
    color: red;
}